@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using WebApp.Areas.HelpPage
@using WebApp.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
   var controllerDocumentation = ViewBag.DocumentationProvider != null ?
       ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
       null;
}

<section class="api-group">
   <h3 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h3>
   <div class="under-heading">
      @if (!String.IsNullOrEmpty(controllerDocumentation))
      {
         <p>@controllerDocumentation</p>
      }
      <table class="help-page-table">
         <thead>
            <tr><th>API</th><th>Description</th></tr>
         </thead>
         <tbody>
            @foreach (var api in Model)
            {
               <tr>
                  <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a></td>
                  <td class="api-documentation">
                     @if (api.Documentation != null)
                     {
                        //@{
                        string shortenedDocumentation = api.Documentation;
                        int min = 50;
                        if (shortenedDocumentation.Length > min * 2)
                        {
                           int max = (int)Math.Floor(min * 2.5);
                           int cutOff = api.Documentation.IndexOf(".", min);
                           if (cutOff == -1)
                           {
                              cutOff = max;
                           }
                           shortenedDocumentation = shortenedDocumentation.Substring(0, cutOff + 1);
                           shortenedDocumentation += "...";
                        }
                        //}
                        <p>@shortenedDocumentation</p>
                     }
                     else
                     {
                        <p>No documentation available.</p>
                     }
                  </td>



               </tr>
            }
         </tbody>
      </table>
   </div>
</section>